body {
  background-color: darkgrey;
}
h1 {
  text-align: center;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  width: auto;
  text-align: center;
  display: inline-block;
  border-radius: 5px;

}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

img {
  display: block;
  margin: auto;
  height: 200px;
  width: auto;
}

.box {
  width: 20px;
  height: 20px;
  background-color: tomato;
  display: inline-block;
  margin: 2px;

}

.selected {
  background-color: black;
  color: white;
}



#navBar {
  width: 100%;
  text-align: center;

}

#bio {
  text-align: center;
}
#realName {
  font-size: 3.0em;
  background-color: #f9f9f9;
  border-radius: 5px;
  width: 35%;
  display: inline-block;
}
#gitName {
  font-size: 1.5em;
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}
#shoutOut {
  font-size: 1.5em;

}
